<form action="{{ url }}" method="post" class="login-form">
    <fieldset>
  		<div class="field-container">
		    <legend class="is-vishidden">Benutzername</legend>
	      <label for="text">Benutzername</label>
	      <input id="text" type="text" placeholder="Benutzername">
      </div>
      <div class="field-container">
	      <label for="password">Passwort</label>
	      <input id="password" type="password" placeholder="Passwort">
      </div>
      <div class="field-container">
		    <button class="login-submit">
		    	<span>Login</span>
		    </button>
				<a href="#" class="button-text-alt">Passwort vergessen?</a>
      </div>
    </fieldset>
</form>