&lt;div class=&quot;spirit-headline&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;spirit-cart-link&quot;&gt;&lt;span&gt;Einkaufswagen&lt;/span&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-cart&quot;&gt;&lt;/span&gt;&lt;span class=&quot;spirit-cart-counter icon-space&quot;&gt;3&lt;/span&gt;&lt;/a&gt;
	{{&gt; molecules-spirit-filter(&quot;spirit-filter-open&quot;: true) }}
&lt;/div&gt;