{{&gt; organisms-header }}
&lt;main&gt;
	&lt;div class=&quot;home-main&quot;&gt;
		{{&gt; molecules-floating }}
		&lt;div class=&quot;block&quot;&gt;
			&lt;div class=&quot;block-wrapper&quot;&gt;
				&lt;h2 class=&quot;headline&quot;&gt;Kommentare&lt;/h2&gt;
				&lt;div class=&quot;comments&quot;&gt;
					{{&gt; molecules-comment }}
					{{&gt; molecules-comment }}
					{{&gt; molecules-comment }}
				&lt;/div&gt;
				&lt;h3 class=&quot;headline&quot;&gt;Kommentieren&lt;/h3&gt;
				{{&gt; molecules-comment-form }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;home-side&quot;&gt;
		&lt;div class=&quot;block home-login&quot;&gt;
			&lt;div class=&quot;block-wrapper&quot;&gt;
				&lt;h2 class=&quot;headline&quot;&gt;Member&lt;/h2&gt;
				{{&gt; molecules-login }}
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;block home-save-the-date&quot;&gt;
			&lt;div class=&quot;block-wrapper&quot;&gt;
				&lt;h2 class=&quot;headline&quot;&gt;Themen&lt;/h2&gt;
				{{&gt; molecules-save-block:delta }}
				{{&gt; molecules-save-block:delta }}
				{{&gt; molecules-save-block:delta }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}