{{> organisms-header }}
{{> molecules-parallax(landscape-4x3.src: "../../images/slider.jpg") }}
{{> molecules-parallax(landscape-4x3.src: "../../images/slider.jpg") }}
{{> molecules-parallax(landscape-4x3.src: "../../images/slider.jpg") }}
{{> organisms-footer }}