{{> organisms-header }}
<main>
	<div class="home-main">
		{{> molecules-floating }}
		<div class="block">
			<div class="block-wrapper">
				{{> molecules-spirit-block }}
			</div>
		</div>
	</div>
	<div class="home-side">
		<div class="block home-login">
			<div class="block-wrapper">
				<h2 class="headline">Member</h2>
				{{> molecules-login }}
			</div>
		</div>
	</div>
</main>
{{> organisms-footer }}