{{> organisms-header }}
<main>
	<div class="home-main">
		{{> molecules-floating }}
		<div class="wrapper cf">
			<div class="block block--partner">
				<div class="block-wrapper">
					{{> molecules-partner }}
				</div>
			</div>
			<div class="block block--partner">
				<div class="block-wrapper">
					{{> molecules-partner }}
				</div>
			</div>
			<div class="block block--partner">
				<div class="block-wrapper">
					{{> molecules-partner }}
				</div>
			</div>
			<div class="block block--partner">
				<div class="block-wrapper">
					{{> molecules-partner }}
				</div>
			</div>
			<div class="block block--partner">
				<div class="block-wrapper">
					{{> molecules-partner }}
				</div>
			</div>
			<div class="block block--partner">
				<div class="block-wrapper">
					{{> molecules-partner }}
				</div>
			</div>
		</div>
	</div>
	<div class="home-side">
		<div class="block home-login">
			<div class="block-wrapper">
				<h2 class="headline">Member</h2>
				{{> molecules-login }}
			</div>
		</div>
	</div>
</main>
{{> organisms-footer }}