/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$gray : #808080;
$gray-light : #f9f9f9;
$gray-light-2 : #eee;
$gray-light-3 : #ddd;
$gray-med : #666;
$gray-dark : #333;
$gray-dark-2 : #131313;
$white : #fff;
$black : #000;
$dim : rgba(0,0,0,0.5);
$error : #f00;
$valid : #089e00;
$warning : #fff664;
$information : #000db5;

//HONColor
$HONbeige: #9d8450;
$HONblack: #333333;
$HONgray: #666666;
$HONgray-light: #aaaaaa;
$HONtext: #555555;
$HONwhite: #fff;

$HONgradient: linear-gradient(to right, rgba($HONbeige,0) 0%,rgba($HONbeige,0.3) 20%,rgba($HONbeige,0.3) 80%,rgba($HONbeige,0) 100%);
$HONborder: 2px solid $HONbeige;


//Typography
$font : "Lato", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$font-secondary : "tf-arrow", Georgia, Times, "Times New Roman", serif;

$font-size-small : 0.75em;
$font-size-small-2 : 0.875em;
$font-size-med : 1em;
$font-size-med-2: 1.0625em;
$font-size-large : 1.4375em;


//Layout
$max-width: 72em;

//Defaults
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small: 30em;
$bp-medium: 37.5em;
$bp-large: 56em;
$bp-wide: 65em;

//Grid System

$susy: (
  math: fluid,
  columns: 12,
  container: 100%,
  gutter: 1/16,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);


// gutter-position: inside-static,
// column-width: 120px,

/*!
TYPEPLATE
URL ........... http://typeplate.com
VERSION ....... 1.1.4
Github ........ https://github.com/typeplate/bower
AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
LICENSE ....... Creative Commmons Attribution 3.0 (http://creativecommons.org/licenses/by/3.0)
LICENSE URL ... https://github.com/typeplate/bower/blob/master/license.txt
*/


// .x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x //
//
// $Variables
//
// .x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x.x //


// $Variable $BaseType
// -------------------------------------//
//the serif boolean var can be redeclared from another stylesheet. However
//the var must be placed after your @import "typeplate.scss";
$serif-boolean: false;

$font-family: if($serif-boolean, serif, sans-serif); // Non-font-face font-stack

$font-weight: normal;
$line-height: 1.4;
$font-size: 100; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value
$custom-font-family: $font; // Custom font-face stack, if set will be added to the $base-font-family
$measure: $font-base * $line-height;

$indent-val: 0;
$paragraph-vertical-whitespace: true;
$small-print-size: 65%;
$body-copy-color: #444;
$heading-color: $HONblack;

$tera: 81; 
$giga: 60; 
$mega: 54; 
$alpha: 40; 
$beta: 36; 
$gamma: 27; 
$delta: 24; 
$epsilon: 18; 
$zeta: 16; 


// $Variable $Typescale-Unit
// -------------------------------------//

$type-scale-unit-value: rem;
