<footer>
	{{> molecules-footer-nav }}	
	<a href="{{ url }}">Impressum</a> | <a href="{{ url }}">AGB</a>
	<div class="imprint">
		<span class="word-fix">© 2013 - THE HONOURABLES</span> BUSINESS AND <span class="word-fix">LIFESTYLE GmbH</span><br>
		Gabelsbergerstraße 1 | 80333 München | 089/322&nbsp;09&nbsp;69&nbsp;10
	</div>
</footer>