{{&gt; organisms-header }}
{{&gt; molecules-parallax(landscape-4x3.src: &quot;../../images/slider.jpg&quot;) }}
{{&gt; molecules-parallax(landscape-4x3.src: &quot;../../images/slider.jpg&quot;) }}
{{&gt; molecules-parallax(landscape-4x3.src: &quot;../../images/slider.jpg&quot;) }}
{{&gt; organisms-footer }}