&lt;div class=&quot;loggedin&quot;&gt;
	&lt;div class=&quot;loggedin-top&quot;&gt;
		&lt;div class=&quot;loggedin-profile&quot;&gt;
			{{&gt; atoms-square }}
		&lt;/div&gt;
		&lt;div class=&quot;loggedin-name&quot;&gt;
			&lt;h5 class=&quot;zeta&quot;&gt;Paul Genzfleisch zu Laden Guttenbergh&lt;/h5&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;loggedin-wrapper&quot;&gt;
		&lt;ul&gt;
			&lt;li&gt;Profil&lt;/li&gt;
			&lt;li&gt;Neuigkeiten&lt;/li&gt;
			&lt;li&gt;Spiritshop&lt;/li&gt;
			&lt;li&gt;Spiritshop&lt;/li&gt;
			&lt;li&gt;Spiritshop&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;