<ul class="pagination">
	<li class="prev">
		<span aria-hidden="true" class="icon-arrow-left2 icon-space-half"></span>Vorherige
	</li><ol>
		<li class="current"><a href="{{ url }}">1</a>
		<li><a href="{{ url }}">2</a>
		<li><a href="{{ url }}">3</a>
		<li><a href="{{ url }}">4</a>
		<li><a href="{{ url }}">5</a>
		<li><a href="{{ url }}">6</a>
		<li><a href="{{ url }}">7</a>
	</ol>
	<li class="next">Nächste<span aria-hidden="true" class="icon-arrow-right2 icon-space-half-alt"></span></li>
</ul>