{{# spirit-filter-open }}
<div class="spirit-filter spirit-filter--open">
{{/ spirit-filter-open }}
{{^ spirit-filter-open }}
<div class="spirit-filter">
{{/ spirit-filter-open }}
	<a href="#" class="spirit-filter-toggle"><span aria-hidden="true" class="icon-menu"></span><span class="is-vishidden">Filter</span></a>
	<ul class="spirit-filter-list">
		<li><a href="#"><span class="spirit-filter-title">Alle Artikel</span><span class="spirit-filter-counter">50</span></a></li>
		<li><a href="#"><span class="spirit-filter-title">Golf</span><span class="spirit-filter-counter">10</span></a></li>
		<li><a href="#"><span class="spirit-filter-title">Lifestyle</span><span class="spirit-filter-counter">10</span></a></li>
		<li><a href="#"><span class="spirit-filter-title">Clothes</span><span class="spirit-filter-counter">10</span></a></li>
		<li><a href="#"><span class="spirit-filter-title">Accessiores</span><span class="spirit-filter-counter">10</span></a></li>
		<li><a href="#"><span class="spirit-filter-title">Food</span><span class="spirit-filter-counter">10</span></a></li>
	</ul>
</div>
