&lt;div class=&quot;spirit-cart-product&quot;&gt;
	&lt;div class=&quot;spirit-cart-product-image&quot;&gt;
		{{&gt; atoms-landscape-4x3 }}
	&lt;/div&gt;
	&lt;div class=&quot;spirit-cart-product-text&quot;&gt;
		&lt;h3&gt;Ganz langer Produkttitel&lt;/h3&gt;
		&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam non quam dignissimos quibusdam illum aspernatur eveniet animi officia blanditiis porro distinctio asperiores vel dolores, incidunt eaque, vero pariatur recusandae facilis.&lt;/p&gt;
	&lt;/div&gt;
	&lt;div class=&quot;spirit-product-price&quot;&gt;295,75&euro;&lt;/div&gt;
	&lt;div class=&quot;spirit-cart-product-actions&quot;&gt;
		&lt;div class=&quot;field-container&quot;&gt;&lt;label for=&quot;in&quot;&gt;Anzahl&lt;/label&gt; &lt;input type=&quot;number&quot; id=&quot;in&quot; min=&quot;0&quot; max=&quot;10&quot; value=&quot;1&quot;&gt;&lt;/div&gt;
		&lt;a class=&quot;button&quot; href=&quot;#&quot;&gt;entfernen&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;