{{&gt; organisms-header }}
&lt;main&gt;
	&lt;div class=&quot;home-main&quot;&gt;
		{{&gt; molecules-floating(video: true, textShorten: true) }}
		&lt;div class=&quot;block&quot;&gt;
			&lt;div class=&quot;block-wrapper&quot;&gt;
				&lt;h2 class=&quot;headline&quot;&gt;Magazin&lt;/h2&gt;
				&lt;div class=&quot;gallery-6&quot;&gt;
					&lt;div&gt;
						{{&gt; molecules-media-block:delta }}
					&lt;/div&gt;&lt;div&gt;
						{{&gt; molecules-media-block:delta }}
					&lt;/div&gt;&lt;div&gt;
						{{&gt; molecules-media-block:delta }}
					&lt;/div&gt;&lt;div&gt;
						{{&gt; molecules-media-block:delta }}
					&lt;/div&gt;&lt;div&gt;
						{{&gt; molecules-media-block:delta }}
					&lt;/div&gt;&lt;div&gt;
						{{&gt; molecules-media-block:delta }}
					&lt;/div&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;home-side&quot;&gt;
		{{&gt; organisms-member:home-login }}
		&lt;div class=&quot;block home-save-the-date&quot;&gt;
			&lt;div class=&quot;block-wrapper&quot;&gt;
				&lt;h2 class=&quot;headline&quot;&gt;Save the Date&lt;/h2&gt;
				{{&gt; molecules-save-block:delta }}
				{{&gt; molecules-save-block:delta }}
				{{&gt; molecules-save-block:delta }}
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/main&gt;
{{&gt; organisms-footer }}