@font-face {
	font-family: 'icomoon';
<<<<<<< HEAD
	src:url('fonts/icomoon.eot?-2m0amm');
	src:url('fonts/icomoon.eot?#iefix-2m0amm') format('embedded-opentype'),
		url('fonts/icomoon.woff?-2m0amm') format('woff'),
		url('fonts/icomoon.ttf?-2m0amm') format('truetype'),
		url('fonts/icomoon.svg?-2m0amm#icomoon') format('svg');
=======
	src:url('fonts/icomoon.eot?-434p0t');
	src:url('fonts/icomoon.eot?#iefix-434p0t') format('embedded-opentype'),
		url('fonts/icomoon.woff?-434p0t') format('woff'),
		url('fonts/icomoon.ttf?-434p0t') format('truetype'),
		url('fonts/icomoon.svg?-434p0t#icomoon') format('svg');
>>>>>>> gh-pages
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.icon-home:before {
	content: "\e600";
}
.icon-image:before {
	content: "\e601";
}
.icon-cart:before {
	content: "\e602";
}
.icon-credit:before {
	content: "\e603";
}
.icon-zoomin:before {
	content: "\e604";
}
.icon-zoomout:before {
	content: "\e605";
}
.icon-lock:before {
	content: "\e606";
}
.icon-cog:before {
	content: "\e607";
}
.icon-remove:before {
	content: "\e608";
}
.icon-bookmark:before {
	content: "\e609";
}
.icon-bookmarks:before {
	content: "\e60a";
}
.icon-star:before {
	content: "\e60b";
}
.icon-star2:before {
	content: "\e60c";
}
.icon-star3:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e60e";
}
.icon-heart2:before {
	content: "\e60f";
}
.icon-info:before {
	content: "\e610";
}
.icon-spam:before {
	content: "\e611";
}
.icon-close:before {
	content: "\e612";
}
.icon-checkmark:before {
	content: "\e613";
}
.icon-arrow-up-left:before {
	content: "\e614";
}
.icon-arrow-up:before {
	content: "\e615";
}
.icon-arrow-up-right:before {
	content: "\e616";
}
.icon-arrow-right:before {
	content: "\e617";
}
.icon-arrow-down-right:before {
	content: "\e618";
}
.icon-arrow-down:before {
	content: "\e619";
}
.icon-arrow-down-left:before {
	content: "\e61a";
}
.icon-arrow-left:before {
	content: "\e61b";
}
.icon-arrow-up-left2:before {
	content: "\e61c";
}
.icon-arrow-up2:before {
	content: "\e61d";
}
.icon-arrow-up-right2:before {
	content: "\e61e";
}
.icon-arrow-right2:before {
	content: "\e61f";
}
.icon-arrow-down-right2:before {
	content: "\e620";
}
.icon-arrow-down2:before {
	content: "\e621";
}
.icon-arrow-down-left2:before {
	content: "\e622";
}
.icon-arrow-left2:before {
	content: "\e623";
=======
.icon-arrow-up-left:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-up-right:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-down-right:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-down-left:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-up-left2:before {
	content: "\e608";
}
.icon-arrow-up2:before {
	content: "\e609";
}
.icon-arrow-up-right2:before {
	content: "\e60a";
}
.icon-arrow-right2:before {
	content: "\e60b";
}
.icon-arrow-down-right2:before {
	content: "\e60c";
}
.icon-arrow-down2:before {
	content: "\e60d";
}
.icon-arrow-down-left2:before {
	content: "\e60e";
}
.icon-arrow-left2:before {
	content: "\e60f";
>>>>>>> gh-pages
}
