&lt;div class=&quot;to-top&quot;&gt;
	&lt;a href=&quot;#&quot; title=&quot;Zum Seitenanfang&quot;&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-arrow-up2 icon-space-half&quot;&gt;&lt;/span&gt;&lt;span class=&quot;next-to-right&quot;&gt;Scroll to Top&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;