&lt;a id=&quot;nav-toggle&quot; class=&quot;nav-toggle&quot; href=&quot;#&quot;&gt;Menu&lt;/a&gt;
&lt;nav id=&quot;nav&quot; class=&quot;nav nav--mobile&quot;&gt;
	&lt;ul class=&quot;nav-list&quot;&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Magazin&lt;/a&gt;
			&lt;ul class=&quot;subnav-list&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel1&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel2&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel3&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel4&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel5&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Unternehmen&lt;/a&gt;
			&lt;ul class=&quot;subnav-list&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel1&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel2&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel3&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel4&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel5&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Networking&lt;/a&gt;
			&lt;ul class=&quot;subnav-list&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel1&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel2&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel3&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel4&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel5&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Partner&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Mehrwerte&lt;/a&gt;
			&lt;ul class=&quot;subnav-list&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel1&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel2&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel3&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel4&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel5&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href=&quot;{{ url }}&quot;&gt;Member&lt;/a&gt;
			&lt;ul class=&quot;subnav-list&quot;&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel1&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel2&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel3&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel4&lt;/a&gt;&lt;/li&gt;
				&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Titel5&lt;/a&gt;&lt;/li&gt;
			&lt;/ul&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/nav&gt;&lt;!--end .nav--&gt;
