&lt;footer&gt;
	{{&gt; molecules-footer-nav }}	
	&lt;a href=&quot;{{ url }}&quot;&gt;Impressum&lt;/a&gt; | &lt;a href=&quot;{{ url }}&quot;&gt;AGB&lt;/a&gt;
	&lt;div class=&quot;imprint&quot;&gt;
		&lt;span class=&quot;word-fix&quot;&gt;&copy; 2013 - THE HONOURABLES&lt;/span&gt; BUSINESS AND &lt;span class=&quot;word-fix&quot;&gt;LIFESTYLE GmbH&lt;/span&gt;&lt;br&gt;
		Gabelsbergerstra&szlig;e 1 | 80333 M&uuml;nchen | 089/322&amp;nbsp;09&amp;nbsp;69&amp;nbsp;10
	&lt;/div&gt;
&lt;/footer&gt;