//-------------------------------
//
// Comment-Form
//
//-------------------------------

.comment-form-container{
	@extend .cf;
}
.comment-form-container-profile{
	float: left;
	width: 100px;

	img{
		margin-bottom: .5em;
	}
}

.comment-form{
	margin-left: 120px;
	min-width: 300px;
}

@include breakpoint(max-width 31.25em){
	.comment-form-container-profile{
		float: none;
		width: 100%;
		*zoom: 1;

		&:before, &:after {
			content: " "; /* 1 */
			display: table; /* 2 */
		}

		&:after {
			clear: both;
		}
		img{
			float: left;
			max-width: 50px;
		}

		.comment-form-container-name{
			margin-left: 70px;
			line-height: 50px;
		}
	}

	.comment-form{
		margin-left: 0;
		min-width: 0;
		max-width: 100%;
	}
}

//-------------------------------
//
// Comment
//
//-------------------------------

.comment{
	@extend .cf;
	margin-top: 1em;
	margin-bottom: 2em;
}

.comment-profile{
	float: left;
	width: 50px;
}

.comment-wrapper{
	margin-left: 70px;
}

.comment-name{
	@extend .uppercase;
	color: $HONbeige;
}

.comment-text{
	border-bottom: 1px solid $HONbeige;
	margin-bottom: .5em;
}

.comment-info{
	color: $HONgray;
	font-size: 75%;
}

@include breakpoint(max-width 25em){
	.comment-profile{
		width: 70px;
		padding-right: 20px;
	}
	.comment-wrapper{
		margin-left: 0;
	}
}

//-------------------------------
//
// Comments
//
//-------------------------------

.comments{
	margin-left: 50px;
}

@include breakpoint(max-width 31.25em){
	.comments{
		margin-left: 0px;
	}
}