/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
	clear: both;
	overflow: hidden;
	background: #000;
	color: #ccc;
	@include font-size((14/16), small);
	padding: 15px 20px 20px;
	text-align: center;

	a {
		color: $HONbeige;
	}
}

.imprint{
	@include font-size((13/16), small);
}

.to-top{
	position: relative;
	border-bottom: 1px solid $HONbeige;
	border-bottom: 1px solid rgba($HONbeige, 0.3);
	border-style: solid;
	border-width: 1px;
	border-image: $HONgradient 0 0 1 1;
	border-image-width: 0 0 1 0;
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 1em;
	padding-right: 2.4em;

	[class^="icon-"]:before, [class*=" icon-"]:before{
		font-size: 2em;
	}
}

.next-to-right{
	position: absolute;
	top: 0.8em;
	@include font-size((12/16), small);
}

@include breakpoint($bp-large){
	.to-top{
		display: none;
	}
	footer{
		//text-align: right;
	}
}