
/* Icon Font */
@font-face {
	font-family: 'icons';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before, [class^="icon-"], [class*=" icon-"]{
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-space{
	padding-right: .5em;
}

.icon-space-half{
	padding-right: .25em;
}

.icon-space-alt{
	padding-left: .5em;
}

.icon-space-half-alt{
	padding-left: .25em;
}

a [class^="icon-"]:before, a [class*=" icon-"]:before{
	text-decoration: none;
}

.icon-arrow-up-left:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-up-right:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-arrow-down-right:before {
	content: "\e604";
}
.icon-arrow-down:before {
	content: "\e605";
}
.icon-arrow-down-left:before {
	content: "\e606";
}
.icon-arrow-left:before {
	content: "\e607";
}
.icon-arrow-up-left2:before {
	content: "\e608";
}
.icon-arrow-up2:before {
	content: "\e609";
	position: relative;
	top: .07em;
}
.icon-arrow-up-right2:before {
	content: "\e60a";
}
.icon-arrow-right2:before {
	content: "\e60b";
}
.icon-arrow-down-right2:before {
	content: "\e60c";
}
.icon-arrow-down2:before {
	content: "\e60d";
}
.icon-arrow-down-left2:before {
	content: "\e60e";
}
.icon-arrow-left2:before {
	content: "\e60f";
}