.loggedin-profile{
	float: left;
	width: 70px;
}

.loggedin-name{
	@extend .cf;
	margin-left: 90px;
	.zeta{
		padding: .9em 0;
		margin: 0;
	}
}

.loggedin-top{
	border-width: 1px;
	border-style: solid;
	border-image: $HONgradient 0 0 1 1;
	margin-bottom: 1em;
	padding-bottom: .5em;
}

.loggedin-wrapper li{
}