.media-block{
	margin-bottom: 2rem;
}

.media-block-image{
	margin-bottom: 1rem;
}

.media-block-image img{
	display: block;
}

.media-block-wrapper{
	h2, h3, h4, h5, h6{
		a{
			color: $HONbeige;
		}
	}
}

.media-block-text{
	//display: none;
}

.media-block-wrapper{
	border-bottom: $HONborder;
}

.overflow {
	position:relative;
	height: 5*1.4em;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1rem;
}
.overflow::after {
	content:"...";
	font-weight:bold;
	position:absolute;
	bottom:0;
	right:0;
	padding:0 20px 1px 45px;
	background: linear-gradient(to right, rgba($HONwhite,0) 0%,rgba($HONwhite,1) 46%,rgba($HONwhite,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1);
}

.overflow-disable{
	height: auto;
	overflow: auto;
	margin-bottom: 0;
}
.overflow-disable:after{
	display: none;
}

@include breakpoint($bp-medium){
	.overflow-disable--medium{
		height: auto;
		overflow: auto;
		margin-bottom: 0;
	}
	.overflow-disable--medium:after{
		display: none;
	}
}