&lt;div class=&quot;gallery-6&quot;&gt;
	&lt;div&gt;
		{{&gt; molecules-media-block }}
	&lt;/div&gt;&lt;div&gt;
		{{&gt; molecules-media-block }}
	&lt;/div&gt;&lt;div&gt;
		{{&gt; molecules-media-block }}
	&lt;/div&gt;&lt;div&gt;
		{{&gt; molecules-media-block }}
	&lt;/div&gt;&lt;div&gt;
		{{&gt; molecules-media-block }}
	&lt;/div&gt;&lt;div&gt;
		{{&gt; molecules-media-block }}
	&lt;/div&gt;
&lt;/div&gt;