&lt;div class=&quot;media-block&quot;&gt;
		&lt;h2 class=&quot;gamma headline&quot;&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;media-block-link&quot;&gt;
				Lifestyle
			&lt;/a&gt;
		&lt;/h2&gt;
		&lt;div class=&quot;media-block-image&quot;&gt;
			&lt;a href=&quot;{{ url }}&quot; class=&quot;media-block-link&quot;&gt;
				{{&gt; atoms-landscape-4x3 }}
			&lt;/a&gt;
		&lt;/div&gt;&lt;div class=&quot;media-block-wrapper&quot;&gt;
			&lt;h3 class=&quot;epsilon&quot;&gt;
				&lt;a href=&quot;{{ url }}&quot; class=&quot;media-block-link&quot;&gt;
					{{ headline.short }}
				&lt;/a&gt;
			&lt;/h3&gt;
			&lt;div class=&quot;media-block-text&quot;&gt;
				&lt;div class=&quot;overflow&quot;&gt;
					&lt;p class=&quot;&quot;&gt;{{ excerpt.long }}&lt;/p&gt;
				&lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
&lt;/div&gt;