<div class="loggedin">
	<div class="loggedin-top">
		<div class="loggedin-profile">
			{{> atoms-square }}
		</div>
		<div class="loggedin-name">
			<h5 class="zeta">Paul Genzfleisch zu Laden Guttenbergh</h5>
		</div>
	</div>
	<div class="loggedin-wrapper">
		<ul>
			<li>Profil</li>
			<li>Neuigkeiten</li>
			<li>Spiritshop</li>
			<li>Spiritshop</li>
			<li>Spiritshop</li>
		</ul>
	</div>
</div>