<div class="media-block">
		<h2 class="gamma headline">
			<a href="{{ url }}" class="media-block-link">
				Lifestyle
			</a>
		</h2>
		<div class="media-block-image">
			<a href="{{ url }}" class="media-block-link">
				{{> atoms-landscape-4x3 }}
			</a>
		</div><div class="media-block-wrapper">
			<h3 class="epsilon">
				<a href="{{ url }}" class="media-block-link">
					{{ headline.short }}
				</a>
			</h3>
			<div class="media-block-text">
				<div class="overflow">
					<p class="">{{ excerpt.long }}</p>
				</div>
			</div>
		</div>
</div>