<div class="parallax">
	<div class="parallax-image">
		{{> atoms-landscape-4x3(landscape-4x3.src: "../../images/slider.jpg") }}
	</div>
	<div class="parallax-wrapper">
		<h2 class="headline">{{ headline.short }}</h2>
		<div class="text">
			<p>{{ excerpt.long }}</p>
			<p>{{ excerpt.long }}</p>
			<p>{{ excerpt.long }}</p>
			<p>{{ excerpt.long }}</p>
		</div>
	</div>
</div>