<div class="parallax parallax--events">
	<div class="parallax-events">
		<div class="parallax-events-scrolling">
			<div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div><div class="parallax-event">
				{{> molecules-save-block:zeta }}
			</div>
		</div>
	</div>
	<div class="parallax-wrapper">
		<h2 class="headline">Termine & Events</h2>
		<div class="text">
			<p>{{ excerpt.long }}</p>
		</div>
	</div>
</div>