<div class="block floating">
	<div class="floating-image">
		{{# video}}
			{{> atoms-video-16x9 }}
		{{/ video}}
		{{^ video}}
			{{> atoms-landscape-16x9 }}
		{{/ video}}
	</div>
	<div class="floating-wrapper">
		<h2 class="h2 headline">
			{{ headline.short }}
		</h2>
		{{> atoms-text }}
		{{# info}}
		<div class="floating-info">
			{{ info }}
		</div>
		{{/ info}}
	</div>
</div>