<div class="media-block">
		<h2 class="{{ styleModifier }} headline">
			<a href="{{ url }}" class="media-block-link">
				<span class="date">25.03.2014</span><br/>
				{{ headline.short }}
			</a>
		</h2>
		<div class="media-block-wrapper">
			<div class="media-block-text">
				<div class="overflow">
					<p class="">{{ excerpt.long }}</p>
				</div>
			</div>
		</div>
</div>