<div class="spirit-product">
	{{> atoms-landscape-4x3 }}
	<h3 class="spirit-product-name epsilon font-secondary"><a href="#">Ganz langer Produktname</a></h3>
	<p class="spirit-product-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dignissimos cumque dicta magnam, perferendis praesentium repellat voluptatum nostrum ipsum inventore.</p>
	<div class="spirit-product-price">295,75€</div>
	<div class="spirit-product-add"><a href="#">zum Warenkorb hinzufügen</a></div>
</div>