<div class="partner">
	<div class="partner-image">
		{{> atoms-landscape-4x3 }}
	</div>
	<div class="partner-text">
		<h2 class="epsilon partner-headline headline">Ganz langer Partnertitel</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, obcaecati hic sint facilis porro, non iure reiciendis nulla molestias, asperiores ipsa autem. Quia reiciendis rem adipisci assumenda dolor blanditiis id quaerat hic temporibus sequi repellendus, debitis, autem aperiam voluptatem. Praesentium.</p>
		<p>Voluptatem dolore consequatur, neque perspiciatis sed porro eius voluptatum adipisci modi. Dolorum eaque fugiat omnis amet hic, nostrum quia. Voluptate, saepe. Culpa labore quasi nesciunt, perspiciatis nemo repudiandae earum modi minus adipisci unde sunt cumque, eius laboriosam, in fugit rem.</p>
	</div>
</div>