<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #9d8450;"></span>
		<span class="sg-label">HONbeige</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">HONblack</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #555;"></span>
		<span class="sg-label">HONtext</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">white</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">black</span>
	</li>
</ul>